@{
	Layout = "~/Views/Admin/_Layout.cshtml";
}

@model IEnumerable<Wlq.Domain.GroupInfo>

<h4 class="form-tt">管理员管理</h4>
<div class="formbody">
@if (Model == null || Model.Count() == 0)
{
	 <span>非部门管理员，无法分配下级管理员</span>
}
else
{
	 
}
</div>
<div class="formfooter"></div>

@section scripts
{
	<script type="text/javascript">
		selected_left_menu(1);
	</script>
}