@{
	Layout = "~/Views/Admin/_Layout.cshtml";
}

@model IEnumerable<Wlq.Domain.GroupInfo>

<h4 class="form-tt">组织管理</h4>
<div class="formbody">
@if (Model == null || Model.Count() == 0)
{
	 <span>非部门管理员，无法创建组织</span>
}
else
{
	 <div class="quanxian-tt">
		<span>部门：</span>
		<select id="department_selector" class="select-2">
		@if (ViewBag.IsSuperAdmin)
		{
			<option value="0">全部</option>
		}
		@foreach (var group in Model)
		{
			<option value="@group.Id">@group.Name</option>
		}
		</select>
		关键字：<input id="txt_keyword" type="text" />
		<a id="find_group" href="javascript:;" class="btn-3">查 询</a>
	@if (ViewBag.IsSuperAdmin)
	{
		<a id="add_group" href="javascript:;" class="btn-3">+新增部门</a>
	}
	else
	{
		<a id="add_group" href="javascript:;" class="btn-3">+新增下级组织</a>
	}
	</div>
	<div id="group_list" class="quanxian-tt"></div>
}
</div>
<div class="formfooter"></div>

<div id="popup" class="popup">
	<div class="title">
		发送消息
		<span><a id="close" class="close" href="javascript:;">x</a></span>
	</div>
	<div class="content">
		<p>消息内容：</p>
		<p>
			<input id="groupId_hidden" type="hidden" />
			<textarea id="message_content"></textarea>
		</p>
		<div class="txt-c">
			<a id="send_message" href="javascript:;" class="btn-3">发送</a>
		</div>
	</div>
</div>

@section scripts
{
	<script type="text/javascript">
		$(document).ready(function () {
			selected_left_menu(2);

			bind_group_list();
		});

		$("#department_selector").bind("change", function () {
			var groupId = $("#department_selector").val();

			if (groupId == 0) {
				$("#add_group").text('+新增部门');
			}
			else {
				$("#add_group").text('+新增下级组织');
			}

			bind_group_list();
		});

		$("#add_group").bind("click", function () {
			var groupId = $("#department_selector").val();

			window.location = "/Admin/Group?groupId=0&parentGroupId=" + groupId;
		});

		$("#find_group").bind("click", function () {
			bind_group_list();
		});

		function bind_group_list() {
			var groupId = $("#department_selector").val();

			$.get("/Admin/GetGroupsByParent/" + groupId + "?keyword=" + $("#txt_keyword").val(), function (data) {
				var result = '';
				if (data.length > 0) {
					result += "<table class='list-tbl'>";
					result += "<thead><tr><th>名称</th><th>所属部门</th><th>操作</th></tr></thead><tbody>";

					for (var i in data) {
						result += "<tr><td>" + data[i].Name + "</td>";
						result += "<td>" + data[i].ParentGroupName + "</td>";
						result += "<td><a href='javascript:;' onclick='send_message(" + data[i].Id + ")'>发送消息</a>&nbsp;&nbsp;<a href='/Admin/Group?groupId=" + data[i].Id + "&parentGroupId=" + data[i].ParentGroupId + "'>编辑</a>&nbsp;&nbsp;<a href='javascript:;' onclick='remove_group(" + data[i].Id + ");'>删除</a></td></tr>";
					}

					result += "</tbody></table>";
				}
				else {
					result = "<span>未创建任何组织</span>";
				}

				$("#group_list").html(result);
			});
		}

		function remove_group(groupId) {
			if (!confirm("确定删除该组织?"))
				return false;

			$.ajax({
				type: "POST",
				dataType: 'json',
				url: "/Admin/RemoveGroup",
				data: {
					'groupId': groupId
				},
				success: function (r, status) {
					if (r.Success) {
						alert("删除成功");
						bind_group_list();
					}
					else {
						alert("删除失败");
					}
				}
			});
		}

		function send_message(groupId) {
			$("#groupId_hidden").val(groupId);
			$("#message_content").val('')
			$("#popup").show();
		}

		$("#send_message").bind("click", function () {
			var groupId = $("#groupId_hidden").val();
			var content = escape($("#message_content").val());

			if (content == '') {
				alert('请输入要发送的内容');
				return;
			}
			else if (content.length > 200) {
				alert('内容过长，请限制在200字之内');
				return;
			}

			$.ajax({
				type: "POST",
				dataType: 'json',
				url: "/Admin/SendMessageToGroupMembers",
				data: {
					'groupId': groupId,
					'content': content
				},
				success: function (r, status) {
					if (r.Success) {
						alert("发送成功");
					}
					else {
						alert("发送失败");
					}
				}
			});

			$("#popup").hide();
		});

	</script>
}