@{
	Layout = "~/Views/Admin/_Layout.cshtml";
}

<h4 class="form-tt">发布管理</h4>
<div class="formbody">
</div>
<div class="formfooter"></div>

@section scripts
{
	<script src="@Url.Content("~/Content/js/ajaxfileupload.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			selected_left_menu(3);
		});
		
	</script>
}