@{
	Layout = "~/Views/Admin/_Layout.cshtml";
}


@model IEnumerable<Wlq.Domain.GroupInfo>

<h4 class="form-tt">发布管理</h4>
<div class="formbody">
@if (Model == null || Model.Count() == 0)
{
	 <span>没有组织信息，无法发布信息</span>
}
else
{
	 <div class="quanxian-tt">
		<span>所属部门或组织：</span>
		<select id="department_selector" class="select-2">
		@foreach (var group in Model)
		{
			<option value="@group.Id">@group.Name</option>
		}
		</select>

		@*<a id="find_post" href="javascript:;" class="btn-3">查询发布信息</a>*@
		<a id="add_post" href="@Url.Action("Post", "Admin", new { Id = 0 })" class="btn-3">+新的发布</a>
	</div>
	<div id="post_list" class="quanxian-tt"></div>
}
	<div id="pager" class="page">
		第 <span id="currentPage"></span> / <span id="totalPage"></span> 页 &nbsp;&nbsp;
		<a class="pre" id="previous" href="javascript:;">上一页</a>
		<a class="next" id="next" href="javascript:;">下一页</a>
	</div>
</div>
<div class="formfooter"></div>

<div id="popup" class="popup">
	<div class="title">
		发送消息
		<span><a id="close" class="close" href="javascript:;">x</a></span>
	</div>
	<div class="content">
		<p>消息内容：</p>
		<p>
			<input id="postId_hidden" type="hidden" />
			<textarea id="message_content"></textarea>
		</p>
		<div class="txt-c">
			<a id="send_message" href="javascript:;" class="btn-3">发送</a>
		</div>
	</div>
</div>

@section scripts
{
	<script type="text/javascript">
		$(document).ready(function () {
			selected_left_menu(3);

			bind_post_list();
		});

		var pageIndex = 1;
		var groupId = $("#department_selector").val();

		$("#department_selector").bind("change", function () {
			pageIndex = 1;
			groupId = $("#department_selector").val();
			bind_post_list();
		});

		$("#add_post").bind("click", function () {
			var groupId = $("#department_selector").val();

			window.location = "/Admin/Post?postId=0&groupId=" + groupId;
		});

		$("#previous").bind("click", function () {
			if (pageIndex > 1) {
				pageIndex--;
				bind_post_list();
			}
		});

		$("#next").bind("click", function () {
			pageIndex++
			bind_post_list();
		});

		function bind_post_list() {
			if (groupId > 0) {
				$.get("/Admin/GetPostsByGroup/" + groupId + "?pageIndex=" + pageIndex, function (data) {
					var result = '';
					var list = data.List;
					var totalPage = data.TotalPage;

					if (list.length > 0) {
						result += "<table class='list-tbl'>";
						result += "<thead><tr><th>标题</th><th>发布类型</th><th>已预约</th><th>发布人</th><th>最后更新时间</th><th>操作</th></tr></thead><tbody>";

						for (var i in list) {
							result += "<tr><td><a href='/Home/Post/" + list[i].Id + "' target='_blank'>" + list[i].Title + "</a></td><td>" + list[i].PostType + "</td>";
							result += "<td><a href='#'>查看</a></td>";
							result += "<td>" + list[i].Publisher + "</td>";
							result += "<td>" + list[i].PublishTime + "</td>";
							result += "<td><a href='javascript:;' onclick='send_message(" + list[i].Id + ")'>发送消息</a>&nbsp;&nbsp;<a href='/Admin/SigninBooking/" + list[i].Id + "'>签到</a>&nbsp;&nbsp;<a href='/Admin/Post/" + list[i].Id + "'>编辑</a>&nbsp;&nbsp;<a href='javascript:;' onclick='remove_post(" + list[i].Id + ");'>删除</a></td></tr>";
						}

						result += "</tbody></table>";

						$("#currentPage").html(pageIndex);
						$("#totalPage").html(totalPage);
						$("#pager").show();

						if (pageIndex >= totalPage) {
							$("#next").hide();
						}
						else {
							$("#next").show();
						}

						if (pageIndex <= 1) {
							$("#previous").hide();
						}
						else {
							$("#previous").show();
						}
					}
					else {
						result = "<span>没有发布信息</span>";

						$("#pager").hide();
					}

					$("#post_list").html(result);
				});
			}
		}

		function remove_post(postId) {
			if (!confirm("确定删除该条信息?"))
				return false;

			$.ajax({
				type: "POST",
				dataType: 'json',
				url: "/Admin/RemovePost",
				data: {
					'postId': postId
				},
				success: function (r, status) {
					if (r.Success) {
						alert("删除成功");
						bind_post_list();
					}
					else {
						alert("删除失败");
					}
				}
			});
		}

		function send_message(postId) {
			$("#postId_hidden").val(postId);
			$("#message_content").val('')
			$("#popup").show();
		}

		$("#send_message").bind("click", function () {
			var postId = $("#postId_hidden").val();
			var content = escape($("#message_content").val());

			if (content == '') {
				alert('请输入要发送的内容');
				return;
			}
			else if (content.length > 200) {
				alert('内容过长，请限制在200字之内');
				return;
			}

			$.ajax({
				type: "POST",
				dataType: 'json',
				url: "/Admin/SendMessage",
				data: {
					'postId': postId,
					'content': content
				},
				success: function (r, status) {
					if (r.Success) {
						alert("发送成功");
					}
					else {
						alert("发送失败");
					}
				}
			});

			$("#popup").hide();
		});
	</script>
}