@{
	Layout = "~/Views/Admin/_Layout.cshtml";
}

<h4 class="form-tt">刷卡签到</h4>
<div id="formbody" class="formbody">
	<ul class="singin-list">
		<li>
			<label class="btn-4">读 卡</label>
			<input id="userCode" type="password" />
		</li>
	</ul>

	<div id="booking_list" class="quanxian-tt"></div>
</div>
<div class="formfooter"></div>

@section scripts
{
	<script type="text/javascript">
		$(function () {
			$(document).ready(function () {
				$("#userCode").focus();
			});
		});

		$("#formbody").keypress(function (e) {
			var kCode = e.keyCode || e.charCode;

			if (kCode == 13) {
				Signin();
				return false;
			}
		});

		function Signin() {
			var managerId = $.trim(getQueryStringByName("managerId"));
			var userCode = $.trim($("#userCode").val());

			if (managerId == '' || userCode == '') {
				alert('读取错误');
				return;
			}

			$.ajax({
				type: "POST",
				dataType: 'json',
				url: "/Admin/SigninBooking",
				data: {
					'managerId': managerId,
					'userCode': userCode
				},
				success: function (r, status) {
					if (r.Success) {
						alert("签到成功");
					}
					else {
						alert("签到失败");
					}
				}
			});

			$("#userCode").val('');
			$("#userCode").focus();
		}

	</script>
}