@{
	Layout = "~/Views/Admin/_Layout.cshtml";
}


@model IEnumerable<Wlq.Domain.GroupInfo>

<h4 class="form-tt">场地管理</h4>
<div class="formbody">
@if (Model == null || Model.Count() == 0)
{
	 <span>没有组织信息，无法配置场地</span>
}
else
{
	 <div class="quanxian-tt">
		<span>所属部门或组织：</span>
		<select id="department_selector" class="select-2">
		@foreach (var group in Model)
		{
			<option value="@group.Id">@group.Name</option>
		}
		</select>

		<a id="find_venue" href="javascript:;" class="btn-3">查询场地信息</a>
		<a id="add_venue" href="javascript:;" class="btn-3">+新增场地</a>
	</div>
	<div id="venue_list" class="quanxian-tt"></div>
}
</div>
<div class="formfooter"></div>

@section scripts
{
	<script type="text/javascript">
		$(document).ready(function () {
			selected_left_menu(4);
		});

		$("#find_venue").bind("click", function () {
			bind_venue_list();
		});

		$("#add_venue").bind("click", function () {
			var groupId = $("#department_selector").val();

			window.location = "/Admin/Venue?venueId=0&groupId=" + groupId;
		});

		function bind_venue_list() {
			var groupId = $("#department_selector").val();

			if (groupId > 0) {
				$.get("/Admin/GetVenuesByGroup/" + groupId, function (data) {
					var result = '';
					if (data.length > 0) {
						result += "<table class='list-tbl'>";
						result += "<thead><tr><th>名称</th><th>操作</th></tr></thead><tbody>";

						for (var i in data) {
							result += "<tr><td>" + data[i].Name + "</td><td><a href='/Admin/Venue?venueId=" + data[i].Id + "&groupId=" + groupId + "'>编辑</a>&nbsp;&nbsp;<a href='javascript:;' onclick='remove_venue(" + data[i].Id + ");'>删除</a></td></tr>";
						}

						result += "</tbody></table>";
					}
					else {
						result = "<span>未添加任何场地</span>";
					}

					$("#venue_list").html(result);
				});
			}
		}

		function remove_venue(venueId) {
			if (!confirm("确定删除该组织?"))
				return false;

			$.ajax({
				type: "POST",
				dataType: 'json',
				url: "/Admin/RemoveVenue",
				data: {
					'venueId': venueId
				},
				success: function (r, status) {
					if (r.Success) {
						alert("删除成功");
						bind_venue_list();
					}
					else {
						alert("删除失败");
					}
				}
			});
		}
	</script>
}