@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
</head>
<body>
	<h2>
		eee...seems to be an error
	</h2>
	<div>
		you can send E-mail to <a href="mailto:010227leo@gmail.com">here</a> <br />
		or contact with qq: 411756219
	</div>
</body>
</html>