<div class="loginbar">
    <div class="loginbarbody">
		<span class="login-ico"></span>
	@if (ViewBag.LoginName == string.Empty) 
	{
		<input type="text" class="login-card" value="卡号" />
		<input type="password" class="login-pass" value="密码" />
		<a href="#" class="btn-login"></a>
		<a href="#" class="btn-shuaka"></a>
	}
	else
	{
		<span class="login-userinfo">您好，<strong>@ViewBag.Name</strong></span>
		<a href="#" class="login-edit">个人资料修改</a>
		<a href="#" class="loginout">退出</a>
	}
		
	</div>
</div>
