<div class="loginbar">
@if (!ViewBag.IsLogin) 
{
	using (Html.BeginForm("Login", "User", FormMethod.Post, new { id = "user_login_form" }))
	{
	<div class="loginbarbody">
		<span class="login-ico"></span>
		<input id="loginName" name="loginName" type="text" class="login-card" />
		<input id="password" name="password" type="password" class="login-pass" />
		<a id="btn_login" href="javascript:;" class="btn-login"></a>
		<a href="#" class="btn-shuaka"></a>
	</div>
	}
}
else
{
	<div class="loginbarbody">
		<span class="login-ico"></span>
		<span class="login-userinfo">您好，<strong>@ViewBag.Name</strong></span>
		<a href="#" class="login-edit">我的首页</a>
		<a href="@Url.Action("Info", "User")" class="login-edit">个人资料</a>
		<a href="@Url.Action("ChangePassword", "User")" class="login-edit">修改密码</a>
		<a href="@Url.Action("SignOut", "User")" class="loginout">退出</a>
	</div>
}

</div>

