@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="righttitle-2"><img src="/content/images/common/title-14.jpg"></h3>
    <ul class="guanzhu-list clearfix">
        <li>
            <div><img src="/content/images/other/ico-1.png"><h4>黄浦区教育局</h4><a href="#" class="btn-gz"></a></div>
            <p>地址：上海市延安东路300号西15楼<br>
电话：33134800-21509 <br>
邮箱：jxbangs@hpe.cn</p>
        </li>
        <li>
            <div><img src="/content/images/other/ico-1.png"><h4>黄浦区教育局</h4><a href="#" class="btn-gz"></a></div>
            <p>地址：上海市延安东路300号西15楼<br>
电话：33134800-21509 <br>
邮箱：jxbangs@hpe.cn</p>
        </li>
        <li>
            <div><img src="/content/images/other/ico-1.png"><h4>黄浦区教育局</h4><a href="#" class="qxgz"></a></div>
            <p>地址：上海市延安东路300号西15楼<br>
电话：33134800-21509 <br>
邮箱：jxbangs@hpe.cn</p>
        </li>
        <li>
            <div><img src="/content/images/other/ico-1.png"><h4>黄浦区教育局</h4><a href="#" class="qxgz"></a></div>
            <p>地址：上海市延安东路300号西15楼<br>
电话：33134800-21509 <br>
邮箱：jxbangs@hpe.cn</p>
        </li>
    </ul>