@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Hanger.Common;
@using Wlq.Web.Models;

@model IEnumerable<GroupModel>

<h3 class="righttitle-2">
	<img src="/content/images/common/title-13.jpg" alt="title" />
</h3>

<ul class="guanzhu-list clearfix">
@foreach (var item in Model)
{
	Html.RenderPartial("_GroupItem", item);
}
</ul>

<div class="page">
	第 @ViewBag.PageIndex / @ViewBag.TotalPage 页 
	<a id="previous" href="javascript:;">上一页</a>
	<a id="next" href="javascript:;">下一页</a>
	<input id="pager_index" type="text" />
	<a id="pager_redirect" href="javascript:;">跳转</a>
</div>

@section scripts
{
	<script type="text/javascript">
		pageIndex = @ViewBag.PageIndex;
		totalPage = @ViewBag.TotalPage;
		pageUrl = '/Home/GroupList?';
	</script>
}