@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="righttitle-1"><img src="/content/images/common/title-8.jpg" /></h3>
<ul class="jk-tab clearfix">
	<li><a href="@Url.Action("TZJC", "Home")" class="tab-1"></a></li>
	<li><a href="@Url.Action("JKDA", "Home")" class="tab-2"></a></li>
	<li><a href="@Url.Action("JKBD", "Home")" class="tab-3"></a></li>
	<li><a href="#" class="tab-4"></a></li>
</ul>
<h3 class="r-box-title"><img src="/content/images/common/title-7.jpg" /></h3>
<div class="indexlist">
	<div class="mainbox clearfix">
		<a href="#" class="leftico"><img src="/content/images/other/ico-1.png" />教育局</a>
		<div class="mainbox-r">
			<span class="flag-1"></span>
			<p class="time">2013-5-29 13:40</p>
			<h3>9月--高中生学校适应</h3>
			<p class="mainbox-txt">本活动由卢湾高级中学特级教师、国家二级心理咨询师梅洁老师担任主讲，围绕初入高中学段青少年的心理特点以及高中阶段的学习要求，探讨如何帮助高中新生顺利地适应高中学习生活。</p>
			<div><img src="/content/images/other/img1.jpg" /></div>
			<div class="order">已预约<strong>45</strong>人</div>
			<div class="mainbox-b"></div>
		</div>
	</div>
</div>

@section scripts
{
	<script type="text/javascript">
		$(document).ready(function () {
			selected_left_menu(1);
		});
	</script>
}