@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="righttitle-1"><img src="/content/images/common/title-8.jpg" alt="title" /></h3>
<ul class="jk-tab clearfix">
	<li><a href="@Url.Action("TZJC", "Home")" class="tab-1"></a></li>
	<li><a href="@Url.Action("JKDA", "Home")" class="tab-2"></a></li>
	<li class="tabon"><a href="javascript:;" class="tab-3"></a></li>
	<li><a href="#" class="tab-4"></a></li>
</ul>
<h3 class="r-box-title"><img src="/content/images/common/title-9.jpg" alt="title" /></h3>
<div class="box640">
	<div><img src="/content/images/common/box640-t.jpg" alt="boxtop" /></div>
	<div class="dt-detail clearfix">
		建设中..
		@*<table class="datetbl-1">
			<thead>
				<tr>
					<th>地点</th><th>起始点时间</th><th>抵达终点时间</th><th>总耗时</th><th>总路程</th><th>卡路里消耗量</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>南部滨江</td><td>2013/06/20 14:00</td><td>2013/06/20 15:00</td><td>60 min</td><td>3.2 KM </td><td>2000 CAL</td>
				</tr>
				<tr>
					<td>南部滨江</td><td>2013/06/20 14:00</td><td>2013/06/20 15:00</td><td>60 min</td><td>3.2 KM </td><td>2000 CAL</td>
				</tr>
			</tbody>
		</table>*@
	</div>
	<div class="box640-bottom"><img src="/content/images/common/box640-b.jpg" alt="boxbottom" /></div>
</div>

@section scripts
{
	<script type="text/javascript">
		$(document).ready(function () {
			selected_left_menu(1);
		});
	</script>
}