@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="righttitle-1"><img src="/content/images/common/title-8.jpg" alt="title" /></h3>
<ul class="jk-tab clearfix">
    <li><a href="@Url.Action("TZJC", "Home")" class="tab-1"></a></li>
    <li class="tabon"><a href="javascript:;" class="tab-2"></a></li>
    <li><a href="@Url.Action("JKBD", "Home")" class="tab-3"></a></li>
    <li><a href="#" class="tab-4"></a></li>
</ul>
<h3 class="r-box-title"><img src="/content/images/common/title-7.jpg" alt="title" /></h3>
<div class="box640">
	<div><img src="/content/images/common/box640-t.jpg" alt="boxtop" /></div>
    <div class="dt-detail clearfix">
		<img src="/content/images/common/jkda.jpg" alt="jkda" />
    </div>
    <div class="box640-bottom"><img src="/content/images/common/box640-b.jpg" alt="boxbottom" /></div>
</div>
