@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="righttitle-2"><img src="/content/images/common/title-6.jpg" alt="title" /></h3>
<div class="box640">
    <div><img src="/content/images/common/box640-t.jpg" /></div>
    <div class="dt-detail clearfix">
        <div class="dt-detail-topl">
            <img src="/content/images/other/ico-1.png" /><h4>文化中心</h4>
<a class="btn-gz fl"></a>
		</div>
        <p class="dt-detail-topr">【发布时间：2013-05-31  13:50】</p>
		<div>
            <div class="clear detailtxt-box">
            <h3>
				五里健康大讲堂
                <p>已预约<strong>207</strong>人</p>
            </h3>
            <p>
            本栏目由二医大、中山医院等名医、专家讲课，授课内容针对老年人常见疾病防治，科学养身和保健以及医学知识普及。
<br><br>
活动地点：五里桥社区文化活动中心多功能厅瞿溪路1111弄26号303室<br>
活动时间：每周二13时30分—15时00分<br>
限定人数：50
            </p>
                <div class="detailimgbox"><img src="/content/images/other/img1.jpg" /></div>
                <div class="btnbox"><a href="#" class="btn">预 约</a><a href="#" class="btn">关 注</a></div>
            </div>
        </div>
        </div>
        <div class="box640-bottom"><img src="/content/images/common/box640-b.jpg" /></div>
</div>
