@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="righttitle-1"><img src="/content/images/common/title-8.jpg" alt="title" /></h3>
<ul class="jk-tab clearfix">
<li class="tabon"><a href="javascript:;" class="tab-1"></a></li>
<li><a href="@Url.Action("JKDA", "Home")" class="tab-2"></a></li>
<li><a href="@Url.Action("JKBD", "Home")" class="tab-3"></a></li>
<li><a href="#" class="tab-4"></a></li>
</ul>
<h3 class="r-box-title"><img src="/content/images/common/title-7.jpg" alt="title" /></h3>
<div class="box640">
	<div><img src="/content/images/common/box640-t.jpg" alt="boxtop" /></div>
	<div class="dt-detail clearfix">
		<ul class="jiance-list clearfix">
			<li><label>身高:</label><span>159.2</span></li><li><label>反应时:</label><span>0.49</span></li>
			<li><label>体重:</label><span>1.00</span></li><li><label>闭眼单腿站立:</label><span>1.00</span></li>
			<li><label>BMI:</label><span>1.00</span></li><li><label>台阶指数:</label><span>1.00</span></li>
			<li><label>肺活量:</label><span>1.00</span></li><li><label>舒张压:</label><span>1.00</span></li>
			<li><label>握力:</label><span>1.00</span></li><li><label>收缩压:</label><span>1.00</span></li>
			<li><label>坐位体前屈:</label><span>1.00</span></li><li><label>脉搏:</label><span>1.00</span></li>
		</ul>
		<ul class="jiance-list clearfix">
			<li><label>身高标准体重评分:</label><span>1.00</span></li><li><label>闭眼单腿站立评分:</label><span>1.00</span></li>
			<li><label>肺活量评分:</label><span>1.00</span></li><li><label>选择反应时评分:</label><span>1.00</span></li>
			<li><label>台阶指数评分:</label><span>1.00</span></li><li><label>人体形态评分:</label><span>1.00</span></li>
			<li><label>握力评分:</label><span>1.00</span></li><li><label>人体机能评分:</label><span>1.00</span></li>
			<li><label>坐位体前屈评分:</label><span>1.00</span></li><li><label>人体素质评分:</label><span>1.00</span></li>
		</ul>
		<p class="jiance-zj"><span>综合总分   <strong>21</strong></span><span>综合评价   <strong>3</strong></span></p>
	</div>
    <div class="box640-bottom"><img src="/content/images/common/box640-b.jpg" alt="boxbottom" /></div>
</div>

@section scripts
{
	<script type="text/javascript">
		$(document).ready(function () {
			selected_left_menu(1);
		});
	</script>
}