@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="righttitle-2"><img src="/content/images/common/title-4.jpg"></h3>
    <ul class="tabbox clearfix">
        <li><a href="#" class="on">健身场所</a></li>
        <li><a href="#">文化场馆</a></li>
    </ul>
    <div class="js-detail">
		<div class="mainbox clearfix">
        <a href="#" class="leftico"><img src="/content/images/other/ico-1.png">教育局</a>
        <div class="mainbox-r">
            <span class="flag-1"></span>
            <p class="time">2013-5-29 13:40</p>
            <h3>9月--高中生学校适应</h3>
            <p class="mainbox-txt">场地地址：建国西路135号
<br>联系电话：64670234
<br>开放时间：每周一 下午：13：30 — 15：30</p>
            <div><img src="/content/images/other/img1.jpg"></div>
            <div class="order"><a href="#" class="btn-yuyue"></a>已预约<strong>45</strong>人</div>
            <div class="mainbox-b"></div>
        </div>
    </div>
	<div class="mainbox clearfix">
        <a href="#" class="leftico"><img src="/content/images/other/ico-1.png">教育局</a>
        <div class="mainbox-r">
            <span class="flag-2"></span>
            <p class="time">2013-5-29 13:40</p>
            <h3>9月--高中生学校适应</h3>
            <p class="mainbox-txt">本活动由卢湾高级中学特级教师、国家二级心理咨询师梅洁老师担任主讲，围绕初入高中学段青少年的心理特点以及高中阶段的学习要求，探讨如何帮助高中新生顺利地适应高中学习生活。</p>
            <div class="imgbox"><img src="/content/images/other/img1.jpg"></div>
            <div class="order"><a href="#" class="btn-yuyue"></a>已预约<strong>45</strong>人</div>
            <div class="mainbox-b"></div>
        </div>
    </div>
</div>