@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="r-subtitle">头像修改</h4>
<div class="upload-img clearfix">
    <span>
        <img src="/content/images/user/touxiang.png" alt="avatar" />
    </span>
    <div>
        <a href="#" class="btn-1" style="width:140px;">头像上传</a>
        <p>（仅限格式JPG、GIF、PNG，且文件大小需2M以内）</p>
	</div>
</div>
<h4 class="r-subtitle">信息修改</h4>
<ul class="useredit-list">
    <li><label class="btn-2">姓 名</label><span>管理员</span></li>
    <li><label class="btn-2">性 别</label><span>男</span></li>
    <li><label class="btn-2">出生年月</label><span>1988-04-17</span></li>
    <li><label class="btn-2">居委会</label><span>桑城居委</span></li>
    <li><a href="javascript:;" class="btn-2 fr">修改</a><label class="btn-2">联系电话</label><input type="text" value="请输入您的联系电话"></li>
    <li><a href="javascript:;" class="btn-2 fr">修改</a><label class="btn-2">联系地址</label><input type="text" value="请输入您的联系地址"></li>
</ul>
<h4 class="r-subtitle">个人标签</h4>
<ul class="usertag-list clearfix">
    <li><label>志愿者</label> <input type="checkbox" /></li>
    <li><label>党员</label> <input type="checkbox" /></li>
</ul>
<div class="btnbox">	<a href="#" class="btn-1" style="width:200px;">确 定</a>	<a href="#" class="btn-1" style="width:200px;">取 消</a></div>