@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Hanger.Common;
@using Wlq.Web.Models;

@model IEnumerable<GroupModel>
		   
@{ Html.RenderPartial("MyHomeHeader"); }

<div class="js-detail">
	<ul class="guanzhu-list clearfix">
	@foreach (var item in Model)
	{
		Html.RenderPartial("_GroupItem", item);
	}
	</ul>
	<div class="page">
		第 @ViewBag.PageIndex / @ViewBag.TotalPage 页 
		<a id="previous" href="javascript:;">上一页</a>
		<a id="next" href="javascript:;">下一页</a>
		<input id="pager_index" type="text" />
		<a id="pager_redirect" href="javascript:;">跳转</a>
	</div>
</div>@section scripts
{
	<script type="text/javascript">
		pageIndex = @ViewBag.PageIndex;
		totalPage = @ViewBag.TotalPage;
		pageUrl = '/User/MyHome?tag=2&';

		$(document).ready(function () {
			selected_myhome_menu(2);
		});
	</script>
}