<ul id="my_home_tags" class="tabbox clearfix tabbox-1">
	<li><a href="/User/MyHome">我的首页</a></li>
	<li><a href="/User/MyHome?tag=1">我的预约</a></li>
	<li><a href="/User/MyHome?tag=2">关注团体</a></li>
	<li><a href="/User/MyHome?tag=3">关注主题</a></li>
	<li><a href="/User/MyHome?tag=4">信息提醒@*<span class="msgtip">5</span>*@</a></li>
</ul>
